body{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    background-color: #d9d9d9;
}

.calculatorDisplay{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 3px solid #353535;
    border-radius: 7px;
    color: white;
    font-size: 50px;
    margin: 0 5px;
    height: 140px;
    justify-content: space-between;
}

.clearAndDelete{
    display: flex;
    justify-content: space-between;
}

.numbersAndOperationsContainer{
    display: flex;
    flex-wrap: wrap;
}

.mainContainer{
    max-width: 372px;
    border: 3px solid #353535;
    padding: 15px;
    border-radius: 20px;
    background-color: #284b63;
}


button{
    color: #ffffff;
    height: 80px;
    width: 80px;
    margin: 5px;
    font-size: 30px;
    background-color: #3c6e71;
    border: 2px solid #353535;
    border-radius: 50%;
    transition: background-color 0.25s;
}

button:hover{
    cursor: pointer;
    background-color: #3c6e71b0;
}

.clearInput, .deleteInput{
    width: 180px;
}

.displayingEquation, .currentInput{
    margin: 0;
    margin-right: 5px;
}